html {
  font-size: $font-size;
  font-family: $font-family;
  background: $background-color;
  color: $font-color;
  max-width: $page-width;
  line-height: 1.4;
}

body {
  margin: 15;
  width: 100vw;
}


#root {

 // Note: Not well for the list of Post on very small screens
 // display: flex;
 // align-items: center;
 // justify-content: center;
 // flex-direction: column;
 // align-self: center;
  //height: 100vh;
}

h2 {
  text-align: left;
  max-width: 90vw;
}


div {
     text-align: left;
}

  .test { 
        color: green;
      }

.custom-text-color-button {
    color: white; 
}

